body{
    background-color: seagreen;
}
h1, h2{
    color: #fff;
    text-align: center;

}
#container{
    background-color: bisque;
    height: 80vh;
    display: flex;
    flex-wrap: wrap;
    column-gap: 10px;
    row-gap: 10px;
}
.fizz{
    background-color:darkolivegreen;
}
.buzz {
    background-color: tomato;
}
.fizzbuzz {
    background-color: brown;
}
.rounded{
    border-radius: 50%;
    border: 2px solid black;
}